<?xml version="1.0" encoding="UTF-8" ?>

<!--
  ~ Copyright (c) 2025 shift7 GmbH. All rights reserved.
  -->
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
        </Console>
        <RollingFile
            name="rollingFile"
            fileName="wire.log"
            filePattern="wire.%d{dd-MMM}.log.gz"
            ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="io.opencensus.trace" additivity="false" level="error"/>
        <Logger name="io.grpc" additivity="false" level="error"/>
        <Logger name="testrunner" level="info"/>
        <Logger name="ch.cyberduck" level="warn"/>
        <Logger name="ch.cyberduck.transcript" level="info"/>
        <Logger name="org.apache.http.wire" additivity="true" level="debug">
            <AppenderRef ref="rollingFile"/>
        </Logger>

        <Root>
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
